h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    color: $pr-col-txt;
   
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
    cursor:pointer;

   
}